@font-face {
	font-family: "immortal";
	src: url("immortal.ttf")
}

body, html {
	background: url('textures/damas_wallpaper_modified.jpg') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

#game_name {
	font-family: "immortal" bold;
	font-size: 50px;
	color: #B37700;
	margin-top: 6%;
	text-align: center;
	position: relative;
	cursor: default;
}

.win {
    font-family: "immortal" bold;
    font-size: 50px;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.button_class {
  	position: relative;
  	margin-top: 2%;
  	margin-bottom: 2%;
  	width: 40%;
  	height: 70px;
  	left: 29.5%;
  	border: 2px solid #332200;
    border-radius: 25px;
    font-family: "immortal";
    font-size: 30px;
    color: #B37700;
    cursor: pointer;
    background: url('textures/darkwood_pattern.jpg') no-repeat;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.button_class:hover {
	background: url('textures/darkwood_pattern_hover.jpg') no-repeat;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}